@CHARSET "utf-8";

* {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

body {
	background: #eeddcc;
}

#wrapper {
	margin: 0 auto;
}

#HUD {
	margin: 15px 0 0 0;
	float: left;
}

#canvas{
	width:600px;
	height:300px;
}

#time {
	float: left;
}

#newGame {
	float: left;
	margin: 0 10px 0 0;
}

#difficulty {
	float: left;
	margin: 0 10px 0 0;
}
#debug-information {
	float: left;
	margin: 5px 0 10px 0;
}